<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/11/16</h1>
<h2>一、小米 14 系列</h2>
<p> </p>
<p>今天是小米14系列确认收货的第 1 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>161543</b>，日新增 <b>103035</b></p>
<p></p>
<p>小米13和小米13P首销第 1 天为 4.5万左右。</p>
<p>小米13系列总销量为 <b>2080690</b>，日新增 <b>2175</b></p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 305 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1677620</b>，日新增 <b>3568</b></p>
<p>今天是红米K60U确认收货的第 77 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>307330</b>，日新增 <b>1727</b></p>
<p>红米 K60 系列 <b>1984950</b>，日新增 <b>5295</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 215 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1057925</b>，日新增 <b>2510</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 77 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>63083</b>，日新增 <b>254</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 36 天（购买日期大概2023/10/31 附近，经过校对数据有16天延时），在小米商城评论总数：<b>505959</b>，日新增 <b>6575</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1429825</p>
<p>（2）k60p 247795</p>
<p>（3）小米13 1445865</p>
<p>（4）小米13p 326818</p>
<p>（5）小米13仅限定色 33924</p>
<p>（6）13U 274083</p>
<p>（7）civi3 337061</p>
<p>（8）Note12T 1057925</p>
<p>（9）12T Pro 82680</p>
<p>（10）红米12 14371</p>
<p>（11）mf3 63083</p>
<p>（12）k60u 307330</p>
<p>（13）Note 13 Pro 234188</p>
<p>（14）Note 13 Pro+ 161044</p>
<p>（15）Note 13 110727</p>
<p>（16）小米14 100110</p>
<p>（17）小米14 Pro 61433</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>