<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/11/24</h1>
<h2>一、小米 14 系列</h2>
<p> </p>
<p>今天是小米14系列确认收货的第 9 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>438552</b>，日新增 <b>15846</b></p>
<p></p>
<p>小米13和小米13P首销第 1 天为 4.5万左右。</p>
<p>小米13系列总销量为 <b>2096420</b>，日新增 <b>1383</b></p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 313 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1718188</b>，日新增 <b>4375</b></p>
<p>今天是红米K60U确认收货的第 85 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>320925</b>，日新增 <b>1026</b></p>
<p>红米 K60 系列 <b>2039113</b>，日新增 <b>5401</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 223 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1075533</b>，日新增 <b>1790</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 85 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>65153</b>，日新增 <b>211</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 44 天（购买日期大概2023/11/08 附近，经过校对数据有16天延时），在小米商城评论总数：<b>562320</b>，日新增 <b>5856</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1470257</p>
<p>（2）k60p 247931</p>
<p>（3）小米13 1457096</p>
<p>（4）小米13p 326883</p>
<p>（5）小米13仅限定色 33985</p>
<p>（6）13U 278456</p>
<p>（7）civi3 346965</p>
<p>（8）Note12T 1075533</p>
<p>（9）12T Pro 83333</p>
<p>（10）红米12 15134</p>
<p>（11）mf3 65153</p>
<p>（12）k60u 320925</p>
<p>（13）Note 13 Pro 265254</p>
<p>（14）Note 13 Pro+ 172340</p>
<p>（15）Note 13 124726</p>
<p>（16）小米14 290725</p>
<p>（17）小米14 Pro 147827</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>