<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/09/10</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 255 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1624485</b>，日新增 <b>4063</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 127 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>211348</b>，日新增 <b>1112</b></p>
<p></p>
<p>小米13系列总销量为 <b>1835833</b>，日新增 <b>5175</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 238 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1411254</b>，日新增 <b>5382</b></p>
<p>今天是红米K60U确认收货的第 10 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>126147</b>，日新增 <b>4349</b></p>
<p>红米 K60 系列 <b>1537401</b>，日新增 <b>9731</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 148 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>883371</b>，日新增 <b>4925</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 10 天（购买日期大概2023/08/25 附近，经过校对数据有16天延时），在小米商城评论总数：<b>28514</b>，日新增 <b>1218</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1165274</p>
<p>（2）k60p 245980</p>
<p>（3）小米13 1271327</p>
<p>（4）小米13p 319850</p>
<p>（5）小米13仅限定色 33308</p>
<p>（6）13U 211348</p>
<p>（7）civi3 230719</p>
<p>（8）Note12T 883371</p>
<p>（9）12T Pro 63641</p>
<p>（10）红米12 4272</p>
<p>（11）mf3 28514</p>
<p>（12）k60u 126147</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>