<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/11/17</h1>
<h2>一、小米 14 系列</h2>
<p> </p>
<p>今天是小米14系列确认收货的第 2 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>239591</b>，日新增 <b>78048</b></p>
<p></p>
<p>小米13和小米13P首销第 2 天为 5.2 万左右。</p>
<p>小米13系列总销量为 <b>2082988</b>，日新增 <b>2298</b></p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 306 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1682244</b>，日新增 <b>4624</b></p>
<p>今天是红米K60U确认收货的第 78 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>309312</b>，日新增 <b>1982</b></p>
<p>红米 K60 系列 <b>1991556</b>，日新增 <b>6606</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 216 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1060193</b>，日新增 <b>2268</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 78 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>63371</b>，日新增 <b>288</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 37 天（购买日期大概2023/11/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>513233</b>，日新增 <b>7274</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1434442</p>
<p>（2）k60p 247802</p>
<p>（3）小米13 1447529</p>
<p>（4）小米13p 326826</p>
<p>（5）小米13仅限定色 33932</p>
<p>（6）13U 274701</p>
<p>（7）civi3 338339</p>
<p>（8）Note12T 1060193</p>
<p>（9）12T Pro 82780</p>
<p>（10）红米12 14452</p>
<p>（11）mf3 63371</p>
<p>（12）k60u 309312</p>
<p>（13）Note 13 Pro 237947</p>
<p>（14）Note 13 Pro+ 162645</p>
<p>（15）Note 13 112641</p>
<p>（16）小米14 154004</p>
<p>（17）小米14 Pro 85587</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>
