<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/11/26</h1>
<h2>一、小米 14 系列</h2>
<p> </p>
<p>今天是小米14系列确认收货的第 11 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>482858</b>，日新增 <b>44306</b></p>
<p></p>
<p>小米13和小米13P首销第 11 天为 12.8 万左右。</p>
<p>小米13系列总销量为 <b>2099588</b>，日新增 <b>3168</b></p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 315 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1728513</b>，日新增 <b>10325</b></p>
<p>今天是红米K60U确认收货的第 87 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>323419</b>，日新增 <b>2494</b></p>
<p>红米 K60 系列 <b>2051932</b>，日新增 <b>12819</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 225 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1080040</b>，日新增 <b>4507</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 87 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>65661</b>，日新增 <b>508</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 46 天（购买日期大概2023/11/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>576075</b>，日新增 <b>13755</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1480566</p>
<p>（2）k60p 247947</p>
<p>（3）小米13 1459335</p>
<p>（4）小米13p 326900</p>
<p>（5）小米13仅限定色 33992</p>
<p>（6）13U 279361</p>
<p>（7）civi3 349644</p>
<p>（8）Note12T 1080040</p>
<p>（9）12T Pro 83462</p>
<p>（10）红米12 15307</p>
<p>（11）mf3 65661</p>
<p>（12）k60u 323419</p>
<p>（13）Note 13 Pro 272813</p>
<p>（14）Note 13 Pro+ 174695</p>
<p>（15）Note 13 128567</p>
<p>（16）小米14 316283</p>
<p>（17）小米14 Pro 166575</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>
