<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/10/07</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 282 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1711555</b>，日新增 <b>2120</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 154 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>238856</b>，日新增 <b>820</b></p>
<p></p>
<p>小米13系列总销量为 <b>1950411</b>，日新增 <b>2940</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 265 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1538915</b>，日新增 <b>3293</b></p>
<p>今天是红米K60U确认收货的第 37 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>207260</b>，日新增 <b>3826</b></p>
<p>红米 K60 系列 <b>1746175</b>，日新增 <b>7119</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 175 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>983666</b>，日新增 <b>2174</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 37 天（购买日期大概2023/09/21 附近，经过校对数据有16天延时），在小米商城评论总数：<b>48610</b>，日新增 <b>419</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>产品暂未发售</p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1292709</p>
<p>（2）k60p 246206</p>
<p>（3）小米13 1352930</p>
<p>（4）小米13p 325062</p>
<p>（5）小米13仅限定色 33563</p>
<p>（6）13U 238856</p>
<p>（7）civi3 280235</p>
<p>（8）Note12T 983666</p>
<p>（9）12T Pro 76856</p>
<p>（10）红米12 10374</p>
<p>（11）mf3 48610</p>
<p>（12）k60u 207260</p>
<p>（13）Note 13 Pro 6708</p>
<p>（14）Note 13 Pro+ 7880</p>
<p>（15）Note 13 2747</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>