<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/10/17</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 292 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1738676</b>，日新增 <b>3904</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 164 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>248673</b>，日新增 <b>1187</b></p>
<p></p>
<p>小米13系列总销量为 <b>1987349</b>，日新增 <b>5091</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 275 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1581020</b>，日新增 <b>5938</b></p>
<p>今天是红米K60U确认收货的第 47 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>246073</b>，日新增 <b>4729</b></p>
<p>红米 K60 系列 <b>1827093</b>，日新增 <b>10667</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 185 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1006625</b>，日新增 <b>2959</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 47 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>54047</b>，日新增 <b>645</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 6 天（购买日期大概2023/10/01 附近，经过校对数据有16天延时），在小米商城评论总数：<b>207383</b>，日新增 <b>26509</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1333788</p>
<p>（2）k60p 247232</p>
<p>（3）小米13 1379147</p>
<p>（4）小米13p 325903</p>
<p>（5）小米13仅限定色 33626</p>
<p>（6）13U 248673</p>
<p>（7）civi3 296893</p>
<p>（8）Note12T 1006625</p>
<p>（9）12T Pro 79210</p>
<p>（10）红米12 11776</p>
<p>（11）mf3 54047</p>
<p>（12）k60u 246073</p>
<p>（13）Note 13 Pro 85316</p>
<p>（14）Note 13 Pro+ 77803</p>
<p>（15）Note 13 44264</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>