<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/11/02</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 308 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1769728</b>，日新增 <b>1326</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 180 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>260783</b>，日新增 <b>493</b></p>
<p></p>
<p>小米13系列总销量为 <b>2030511</b>，日新增 <b>1819</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 291 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1630211</b>，日新增 <b>2494</b></p>
<p>今天是红米K60U确认收货的第 63 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>280990</b>，日新增 <b>1544</b></p>
<p>红米 K60 系列 <b>1911201</b>，日新增 <b>4038</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 201 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1029605</b>，日新增 <b>1026</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 63 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>59295</b>，日新增 <b>247</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 22 天（购买日期大概2023/10/17 附近，经过校对数据有16天延时），在小米商城评论总数：<b>394120</b>，日新增 <b>8287</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1382704</p>
<p>（2）k60p 247507</p>
<p>（3）小米13 1409415</p>
<p>（4）小米13p 326592</p>
<p>（5）小米13仅限定色 33721</p>
<p>（6）13U 260783</p>
<p>（7）civi3 317439</p>
<p>（8）Note12T 1029605</p>
<p>（9）12T Pro 81305</p>
<p>（10）红米12 13365</p>
<p>（11）mf3 59295</p>
<p>（12）k60u 280990</p>
<p>（13）Note 13 Pro 177902</p>
<p>（14）Note 13 Pro+ 131669</p>
<p>（15）Note 13 84549</p>
<p>（16）小米14 5839</p>
<p>（17）小米14 Pro 3340</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>