<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/10/20</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 295 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1746610</b>，日新增 <b>2272</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 167 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>251308</b>，日新增 <b>810</b></p>
<p></p>
<p>小米13系列总销量为 <b>1997918</b>，日新增 <b>3082</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 278 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1594036</b>，日新增 <b>3827</b></p>
<p>今天是红米K60U确认收货的第 50 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>255808</b>，日新增 <b>3172</b></p>
<p>红米 K60 系列 <b>1849844</b>，日新增 <b>6999</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 188 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1012971</b>，日新增 <b>1773</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 50 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>55322</b>，日新增 <b>363</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>今天是Note 13系列确认收货的第 9 天（购买日期大概2023/10/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>263267</b>，日新增 <b>15693</b></p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1346698</p>
<p>（2）k60p 247338</p>
<p>（3）小米13 1386895</p>
<p>（4）小米13p 326075</p>
<p>（5）小米13仅限定色 33640</p>
<p>（6）13U 251308</p>
<p>（7）civi3 302300</p>
<p>（8）Note12T 1012971</p>
<p>（9）12T Pro 79735</p>
<p>（10）红米12 12267</p>
<p>（11）mf3 55322</p>
<p>（12）k60u 255808</p>
<p>（13）Note 13 Pro 111279</p>
<p>（14）Note 13 Pro+ 96212</p>
<p>（15）Note 13 55776</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>