<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/07/16</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 199 天（购买日期大概2023/06/30 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1381691</b>，日新增 <b>4991</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 71 天（购买日期大概2023/06/30 附近，经过校对数据有16天延时），在小米商城评论总数：<b>160271</b>，日新增 <b>927</b></p>
<p></p>
<p>小米13系列总销量为 <b>1541962</b>，日新增 <b>5918</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60系列(不包括K60E)确认收货的第 182 天（购买日期大概2023/06/30 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1090830</b>，日新增 <b>5581</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 92 天（购买日期大概2023/06/30 附近，经过校对数据有16天延时），在小米商城评论总数：<b>563331</b>，日新增 <b>5451</b></p>
<h2>四、单品数据</h2>
<p>（1）k60 860045</p>
<p>（2）k60p 230785</p>
<p>（3）小米13 1064755</p>
<p>（4）小米13p 284208</p>
<p>（5）小米13仅限定色 32728</p>
<p>（6）13U 160271</p>
<p>（7）civi3 99220</p>
<p>（8）Note12T 563331</p>
<p>（9）12T Pro 23769</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>