<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/09/30</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 275 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1692682</b>，日新增 <b>2675</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 147 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>231601</b>，日新增 <b>916</b></p>
<p></p>
<p>小米13系列总销量为 <b>1924283</b>，日新增 <b>3591</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60和K60P确认收货的第 258 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1510002</b>，日新增 <b>3940</b></p>
<p>今天是红米K60U确认收货的第 30 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>183058</b>，日新增 <b>5132</b></p>
<p>红米 K60 系列 <b>1693060</b>，日新增 <b>9072</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 168 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>962021</b>，日新增 <b>3165</b></p>
<h2>四、Mix Fold 3</h2>
<p>今天是Mix Fold 3确认收货的第 30 天（购买日期大概2023/09/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>44500</b>，日新增 <b>530</b></p>
<p>--作为参考，Mix Fold2销量大约13万。</p>
<h2>五、Note 13系列</h2>
<p>产品暂未发售</p>
<p>--作为参考，Note 12 Pro系列销量131万，基础版75万，总计206万。</p>
<h2>五、单品数据</h2>
<p>（1）k60 1263809</p>
<p>（2）k60p 246193</p>
<p>（3）小米13 1334901</p>
<p>（4）小米13p 324284</p>
<p>（5）小米13仅限定色 33497</p>
<p>（6）13U 231601</p>
<p>（7）civi3 269249</p>
<p>（8）Note12T 962021</p>
<p>（9）12T Pro 74137</p>
<p>（10）红米12 8940</p>
<p>（11）mf3 44500</p>
<p>（12）k60u 183058</p>
<p>（13）Note 13 Pro 2548</p>
<p>（14）Note 13 Pro+ 3765</p>
<p>（15）Note 13 968</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>