<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米 2023年主流机型销量跟踪2023/08/01</h1>
<h2>一、13 系列</h2>
<p> </p>
<p>今天是小米13和小米13Pro确认收货的第 215 天（购买日期大概2023/07/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1457177</b>，日新增 <b>6036</b></p>
<p> </p>
<p>今天是小米13Ultra确认收货的第 87 天（购买日期大概2023/07/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>174421</b>，日新增 <b>980</b></p>
<p></p>
<p>小米13系列总销量为 <b>1631598</b>，日新增 <b>7016</b></p>
<p>--作为参考，小米12s和小米12sp目前总量46万，小米12和小米12p总量73万，小米12su总量17万。</p>
<h2>二、红米 K60 系列(不包括K60E)</h2>
<p>今天是红米K60系列(不包括K60E)确认收货的第 198 天（购买日期大概2023/07/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1189403</b>，日新增 <b>8443</b></p>
<h2>三、红米Note12T</h2>
<p>今天是红米Note12T确认收货的第 108 天（购买日期大概2023/07/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>655676</b>，日新增 <b>7712</b></p>
<h2>四、单品数据</h2>
<p>（1）k60 950353</p>
<p>（2）k60p 239050</p>
<p>（3）小米13 1128098</p>
<p>（4）小米13p 296161</p>
<p>（5）小米13仅限定色 32918</p>
<p>（6）13U 174421</p>
<p>（7）civi3 138000</p>
<p>（8）Note12T 655676</p>
<p>（9）12T Pro 35291</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>