<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/12/31</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 46 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1051555</b>，日新增 <b>14827</b></p>
<p></p>
<p>小米14系列总销量为 <b>3680114</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 18 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>387662</b>，日新增 <b>17244</b></p>
<p></p>
<p>红米 K70 系列 <b>2650237</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 146 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>169058</b>，日新增 <b>539</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 81 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1043880</b>，日新增 <b>10383</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2018520 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 81 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>145203</b>，日新增 <b>2274</b></p>
<p>--作为参考，Note 13基础版销量 <b>169058 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 245 天（购买日期大概2024/12/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>814262</b>，日新增 <b>319</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 556710</p>
<p>（2）红米12 29667</p>
<p>（3）mf3 159746</p>
<p>（4）Note 13 Pro 1513362</p>
<p>（5）Note 13 916225</p>
<p>（6）小米14 2357422</p>
<p>（7）小米14 Pro 1007182</p>
<p>（8）小米14 Ultra 315510</p>
<p>（9）K70 1455416</p>
<p>（10）K70P 375538</p>
<p>（11）K70E 484609</p>
<p>（12）CiVi4 387774</p>
<p>（13）Redmi Turbo 3 814262</p>
<p>（14）Xiaomi MIX Fold 4 83903</p>
<p>（15）Xiaomi MIX Flip 169058</p>
<p>（16）Redmi Note 14 Pro+ 630520</p>
<p>（17）Redmi Note 14 Pro 413360</p>
<p>（18）Redmi Note 14 5G 145203</p>
<p>（19）Redmi K70 至尊版 819283</p>
<p>（20）Xiaomi 15 648021</p>
<p>（21）Xiaomi 15 Pro 378532</p>
<p>（22）Xiaomi 15 定制版 25002</p>
<p>（23）REDMI K80 284548</p>
<p>（24）REDMI K80 Pro 103114</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>