<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/12/30</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 45 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1047347</b>，日新增 <b>25214</b></p>
<p></p>
<p>小米14系列总销量为 <b>3679921</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 17 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>383763</b>，日新增 <b>28794</b></p>
<p></p>
<p>红米 K70 系列 <b>2650172</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 145 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>168889</b>，日新增 <b>938</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 80 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1041432</b>，日新增 <b>18082</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2018486 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 80 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>144677</b>，日新增 <b>3948</b></p>
<p>--作为参考，Note 13基础版销量 <b>168889 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 244 天（购买日期大概2024/12/14 附近，经过校对数据有16天延时），在小米商城评论总数：<b>814228</b>，日新增 <b>614</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 556680</p>
<p>（2）红米12 29665</p>
<p>（3）mf3 159725</p>
<p>（4）Note 13 Pro 1513328</p>
<p>（5）Note 13 916189</p>
<p>（6）小米14 2357267</p>
<p>（7）小米14 Pro 1007176</p>
<p>（8）小米14 Ultra 315478</p>
<p>（9）K70 1455378</p>
<p>（10）K70P 375538</p>
<p>（11）K70E 484606</p>
<p>（12）CiVi4 387592</p>
<p>（13）Redmi Turbo 3 814228</p>
<p>（14）Xiaomi MIX Fold 4 83823</p>
<p>（15）Xiaomi MIX Flip 168889</p>
<p>（16）Redmi Note 14 Pro+ 629033</p>
<p>（17）Redmi Note 14 Pro 412399</p>
<p>（18）Redmi Note 14 5G 144677</p>
<p>（19）Redmi K70 至尊版 819256</p>
<p>（20）Xiaomi 15 645447</p>
<p>（21）Xiaomi 15 Pro 376922</p>
<p>（22）Xiaomi 15 定制版 24978</p>
<p>（23）REDMI K80 281302</p>
<p>（24）REDMI K80 Pro 102461</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>