<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/12/19</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 34 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>915945</b>，日新增 <b>10210</b></p>
<p></p>
<p>小米14系列总销量为 <b>3671303</b>, 小米13系列总销量为 <b>2297081</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 6 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>233219</b>，日新增 <b>18381</b></p>
<p></p>
<p>红米 K70 系列 <b>2646751</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 134 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>163758</b>，日新增 <b>434</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 69 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>951447</b>，日新增 <b>6741</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2015629 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 69 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>125155</b>，日新增 <b>1386</b></p>
<p>--作为参考，Note 13基础版销量 <b>163758 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 233 天（购买日期大概2024/12/03 附近，经过校对数据有16天延时），在小米商城评论总数：<b>811014</b>，日新增 <b>320</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 555308</p>
<p>（2）红米12 29512</p>
<p>（3）mf3 158892</p>
<p>（4）Note 13 Pro 1510471</p>
<p>（5）Note 13 912589</p>
<p>（6）小米14 2350332</p>
<p>（7）小米14 Pro 1006847</p>
<p>（8）小米14 Ultra 314124</p>
<p>（9）K70 1453717</p>
<p>（10）K70P 375331</p>
<p>（11）K70E 484126</p>
<p>（12）CiVi4 382323</p>
<p>（13）Redmi Turbo 3 811014</p>
<p>（14）Xiaomi MIX Fold 4 81064</p>
<p>（15）Xiaomi MIX Flip 163758</p>
<p>（16）Redmi Note 14 Pro+ 578549</p>
<p>（17）Redmi Note 14 Pro 372898</p>
<p>（18）Redmi Note 14 5G 125155</p>
<p>（19）Redmi K70 至尊版 817703</p>
<p>（20）Xiaomi 15 564983</p>
<p>（21）Xiaomi 15 Pro 328334</p>
<p>（22）Xiaomi 15 定制版 22628</p>
<p>（23）REDMI K80 158742</p>
<p>（24）REDMI K80 Pro 74477</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>