<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/12/23</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 38 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>970370</b>，日新增 <b>26349</b></p>
<p></p>
<p>小米14系列总销量为 <b>3674849</b>, 小米13系列总销量为 <b>2297094</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 10 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>300722</b>，日新增 <b>27610</b></p>
<p></p>
<p>红米 K70 系列 <b>2648210</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 138 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>165907</b>，日新增 <b>922</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 73 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>988138</b>，日新增 <b>16805</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2016753 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 73 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>132915</b>，日新增 <b>3595</b></p>
<p>--作为参考，Note 13基础版销量 <b>165907 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 237 天（购买日期大概2024/12/07 附近，经过校对数据有16天延时），在小米商城评论总数：<b>812280</b>，日新增 <b>500</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 555849</p>
<p>（2）红米12 29582</p>
<p>（3）mf3 159196</p>
<p>（4）Note 13 Pro 1511595</p>
<p>（5）Note 13 914023</p>
<p>（6）小米14 2353181</p>
<p>（7）小米14 Pro 1006964</p>
<p>（8）小米14 Ultra 314704</p>
<p>（9）K70 1454393</p>
<p>（10）K70P 375398</p>
<p>（11）K70E 484445</p>
<p>（12）CiVi4 384247</p>
<p>（13）Redmi Turbo 3 812280</p>
<p>（14）Xiaomi MIX Fold 4 82220</p>
<p>（15）Xiaomi MIX Flip 165907</p>
<p>（16）Redmi Note 14 Pro+ 599294</p>
<p>（17）Redmi Note 14 Pro 388844</p>
<p>（18）Redmi Note 14 5G 132915</p>
<p>（19）Redmi K70 至尊版 818419</p>
<p>（20）Xiaomi 15 598603</p>
<p>（21）Xiaomi 15 Pro 348609</p>
<p>（22）Xiaomi 15 定制版 23158</p>
<p>（23）REDMI K80 212691</p>
<p>（24）REDMI K80 Pro 88031</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>