<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/11/27</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 12 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>619186</b>，日新增 <b>28635</b></p>
<p></p>
<p>小米14系列总销量为 <b>3652775</b>, 小米13系列总销量为 <b>2297052</b></p>
<h2>二、红米 K70 系列(不包括K70E)</h2>
<p>今天是K70系列确认收货的第 347 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2628815</b>，日新增 <b>10867</b></p>
<p></p>
<p>红米 K60 系列 <b>2124051</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 112 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>154998</b>，日新增 <b>622</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 47 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>764103</b>，日新增 <b>17127</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2007950 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 47 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>92854</b>，日新增 <b>2262</b></p>
<p>--作为参考，Note 13基础版销量 <b>154998 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 211 天（购买日期大概2024/11/11 附近，经过校对数据有16天延时），在小米商城评论总数：<b>803275</b>，日新增 <b>812</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 552651</p>
<p>（2）红米12 29149</p>
<p>（3）mf3 157378</p>
<p>（4）Note 13 Pro 1502792</p>
<p>（5）Note 13 905794</p>
<p>（6）小米14 2334793</p>
<p>（7）小米14 Pro 1006291</p>
<p>（8）小米14 Ultra 311691</p>
<p>（9）K70 1445413</p>
<p>（10）K70P 374544</p>
<p>（11）K70E 483677</p>
<p>（12）CiVi4 369152</p>
<p>（13）Redmi Turbo 3 803275</p>
<p>（14）Xiaomi MIX Fold 4 76364</p>
<p>（15）Xiaomi MIX Flip 154998</p>
<p>（16）Redmi Note 14 Pro+ 468249</p>
<p>（17）Redmi Note 14 Pro 295854</p>
<p>（18）Redmi Note 14 5G 92854</p>
<p>（19）Redmi K70 至尊版 808858</p>
<p>（20）Xiaomi 15 384212</p>
<p>（21）Xiaomi 15 Pro 226675</p>
<p>（22）Xiaomi 15 定制版 8299</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>