<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2024年主流机型销量跟踪2024/12/01</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 16 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>683652</b>，日新增 <b>29851</b></p>
<p></p>
<p>小米14系列总销量为 <b>3657587</b>, 小米13系列总销量为 <b>2297057</b></p>
<h2>二、红米 K70 系列(不包括K70E)</h2>
<p>今天是K70系列确认收货的第 351 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2635291</b>，日新增 <b>1817</b></p>
<p></p>
<p>红米 K60 系列 <b>2124045</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 116 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>156853</b>，日新增 <b>770</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 51 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>805850</b>，日新增 <b>18001</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2010027 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 51 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>99798</b>，日新增 <b>3234</b></p>
<p>--作为参考，Note 13基础版销量 <b>156853 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 215 天（购买日期大概2024/11/15 附近，经过校对数据有16天延时），在小米商城评论总数：<b>805205</b>，日新增 <b>731</b></p>
<p>--作为参考，上代系列销量<b>1265878</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 553322</p>
<p>（2）红米12 29216</p>
<p>（3）mf3 157688</p>
<p>（4）Note 13 Pro 1504869</p>
<p>（5）Note 13 907386</p>
<p>（6）小米14 2338956</p>
<p>（7）小米14 Pro 1006351</p>
<p>（8）小米14 Ultra 312280</p>
<p>（9）K70 1448241</p>
<p>（10）K70P 374950</p>
<p>（11）K70E 483748</p>
<p>（12）CiVi4 372243</p>
<p>（13）Redmi Turbo 3 805205</p>
<p>（14）Xiaomi MIX Fold 4 77224</p>
<p>（15）Xiaomi MIX Flip 156853</p>
<p>（16）Redmi Note 14 Pro+ 493225</p>
<p>（17）Redmi Note 14 Pro 312625</p>
<p>（18）Redmi Note 14 5G 99798</p>
<p>（19）Redmi K70 至尊版 812100</p>
<p>（20）Xiaomi 15 422690</p>
<p>（21）Xiaomi 15 Pro 248390</p>
<p>（22）Xiaomi 15 定制版 12572</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>