<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/05</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 51 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1094767</b>，日新增 <b>10772</b></p>
<p></p>
<p>小米14系列总销量为 <b>3683517</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 23 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>448651</b>，日新增 <b>11341</b></p>
<p></p>
<p>红米 K70 系列 <b>2651874</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 151 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>170780</b>，日新增 <b>415</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 86 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1078751</b>，日新增 <b>8455</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2019768 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 86 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>154075</b>，日新增 <b>2369</b></p>
<p>--作为参考，Note 13基础版销量 <b>170780 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 250 天（购买日期大概2024/12/20 附近，经过校对数据有16天延时），在小米商城评论总数：<b>815690</b>，日新增 <b>384</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 557315</p>
<p>（2）红米12 29729</p>
<p>（3）mf3 160034</p>
<p>（4）Note 13 Pro 1514610</p>
<p>（5）Note 13 917916</p>
<p>（6）小米14 2360170</p>
<p>（7）小米14 Pro 1007312</p>
<p>（8）小米14 Ultra 316035</p>
<p>（9）K70 1456124</p>
<p>（10）K70P 375630</p>
<p>（11）K70E 484647</p>
<p>（12）CiVi4 390281</p>
<p>（13）Redmi Turbo 3 815690</p>
<p>（14）Xiaomi MIX Fold 4 84860</p>
<p>（15）Xiaomi MIX Flip 170780</p>
<p>（16）Redmi Note 14 Pro+ 650091</p>
<p>（17）Redmi Note 14 Pro 428660</p>
<p>（18）Redmi Note 14 5G 154075</p>
<p>（19）Redmi K70 至尊版 820120</p>
<p>（20）Xiaomi 15 674553</p>
<p>（21）Xiaomi 15 Pro 394549</p>
<p>（22）Xiaomi 15 定制版 25665</p>
<p>（23）REDMI K80 337696</p>
<p>（24）REDMI K80 Pro 110955</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>