<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/02/04</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 81 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1293622</b>，日新增 <b>5128</b></p>
<p></p>
<p>小米14系列总销量为 <b>3703375</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 53 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>641626</b>，日新增 <b>4804</b></p>
<p></p>
<p>红米 K70 系列 <b>2659945</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 181 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>180513</b>，日新增 <b>296</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 116 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1291819</b>，日新增 <b>8363</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2027372 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 116 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>220287</b>，日新增 <b>3003</b></p>
<p>--作为参考，Note 13基础版销量 <b>180513 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 18 天（购买日期大概2025/01/19 附近，经过校对数据有16天延时），在小米商城评论总数：<b>132651</b>，日新增 <b>5686</b></p>
<p>--作为参考，上代系列销量<b>821875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 559974</p>
<p>（2）红米12 29976</p>
<p>（3）mf3 161745</p>
<p>（4）Note 13 Pro 1522214</p>
<p>（5）Note 13 928465</p>
<p>（6）小米14 2375666</p>
<p>（7）小米14 Pro 1007874</p>
<p>（8）小米14 Ultra 319835</p>
<p>（9）K70 1458826</p>
<p>（10）K70P 376089</p>
<p>（11）K70E 485084</p>
<p>（12）CiVi4 410052</p>
<p>（13）Redmi Turbo 3 821875</p>
<p>（14）Xiaomi MIX Fold 4 91787</p>
<p>（15）Xiaomi MIX Flip 180513</p>
<p>（16）Redmi Note 14 Pro+ 744306</p>
<p>（17）Redmi Note 14 Pro 547513</p>
<p>（18）Redmi Note 14 5G 220287</p>
<p>（19）Redmi K70 至尊版 825030</p>
<p>（20）Xiaomi 15 798686</p>
<p>（21）Xiaomi 15 Pro 466529</p>
<p>（22）Xiaomi 15 定制版 28407</p>
<p>（23）REDMI K80 498202</p>
<p>（24）REDMI K80 Pro 143424</p>
<p>（25）REDMI Turbo 4 132651</p>
<p>（26）Redmi 14C 24839</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>