<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/02/22</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 99 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1672080</b>，日新增 <b>15324</b></p>
<p></p>
<p>小米14系列总销量为 <b>3739758</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 71 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1052707</b>，日新增 <b>16609</b></p>
<p></p>
<p>红米 K70 系列 <b>2667036</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 199 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>191789</b>，日新增 <b>437</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 134 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1609480</b>，日新增 <b>12938</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2032111 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 134 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>312617</b>，日新增 <b>3661</b></p>
<p>--作为参考，Note 13基础版销量 <b>191789 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 36 天（购买日期大概2025/02/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>392823</b>，日新增 <b>8044</b></p>
<p>--作为参考，上代系列销量<b>825301</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 561290</p>
<p>（2）红米12 30072</p>
<p>（3）mf3 162695</p>
<p>（4）Note 13 Pro 1526953</p>
<p>（5）Note 13 936153</p>
<p>（6）小米14 2405313</p>
<p>（7）小米14 Pro 1008227</p>
<p>（8）小米14 Ultra 326218</p>
<p>（9）K70 1460518</p>
<p>（10）K70P 376326</p>
<p>（11）K70E 485177</p>
<p>（12）CiVi4 449886</p>
<p>（13）Redmi Turbo 3 825301</p>
<p>（14）Xiaomi MIX Fold 4 96876</p>
<p>（15）Xiaomi MIX Flip 191789</p>
<p>（16）Redmi Note 14 Pro+ 885623</p>
<p>（17）Redmi Note 14 Pro 723857</p>
<p>（18）Redmi Note 14 5G 312617</p>
<p>（19）Redmi K70 至尊版 830192</p>
<p>（20）Xiaomi 15 1055372</p>
<p>（21）Xiaomi 15 Pro 586403</p>
<p>（22）Xiaomi 15 定制版 30305</p>
<p>（23）REDMI K80 845661</p>
<p>（24）REDMI K80 Pro 207046</p>
<p>（25）REDMI Turbo 4 392823</p>
<p>（26）Redmi 14C 63043</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>