<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/02/12</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 89 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1519228</b>，日新增 <b>38490</b></p>
<p></p>
<p>小米14系列总销量为 <b>3724931</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 61 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>884017</b>，日新增 <b>45809</b></p>
<p></p>
<p>红米 K70 系列 <b>2664122</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 189 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>187202</b>，日新增 <b>1355</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 124 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1471243</b>，日新增 <b>38547</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2030121 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 124 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>272406</b>，日新增 <b>11813</b></p>
<p>--作为参考，Note 13基础版销量 <b>187202 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 26 天（购买日期大概2025/01/27 附近，经过校对数据有16天延时），在小米商城评论总数：<b>290611</b>，日新增 <b>32018</b></p>
<p>--作为参考，上代系列销量<b>823997</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 560741</p>
<p>（2）红米12 30038</p>
<p>（3）mf3 162303</p>
<p>（4）Note 13 Pro 1524963</p>
<p>（5）Note 13 932811</p>
<p>（6）小米14 2393030</p>
<p>（7）小米14 Pro 1008083</p>
<p>（8）小米14 Ultra 323818</p>
<p>（9）K70 1459824</p>
<p>（10）K70P 376251</p>
<p>（11）K70E 485143</p>
<p>（12）CiVi4 431267</p>
<p>（13）Redmi Turbo 3 823997</p>
<p>（14）Xiaomi MIX Fold 4 94857</p>
<p>（15）Xiaomi MIX Flip 187202</p>
<p>（16）Redmi Note 14 Pro+ 822789</p>
<p>（17）Redmi Note 14 Pro 648454</p>
<p>（18）Redmi Note 14 5G 272406</p>
<p>（19）Redmi K70 至尊版 828047</p>
<p>（20）Xiaomi 15 950344</p>
<p>（21）Xiaomi 15 Pro 539415</p>
<p>（22）Xiaomi 15 定制版 29469</p>
<p>（23）REDMI K80 702194</p>
<p>（24）REDMI K80 Pro 181823</p>
<p>（25）REDMI Turbo 4 290611</p>
<p>（26）Redmi 14C 43298</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>