<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/14</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 60 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1162657</b>，日新增 <b>8277</b></p>
<p></p>
<p>小米14系列总销量为 <b>3689443</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 32 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>521612</b>，日新增 <b>9538</b></p>
<p></p>
<p>红米 K70 系列 <b>2653652</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 160 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>173780</b>，日新增 <b>350</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 95 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1142284</b>，日新增 <b>9124</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2021926 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 95 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>172596</b>，日新增 <b>2700</b></p>
<p>--作为参考，Note 13基础版销量 <b>173780 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 259 天（购买日期大概2024/12/29 附近，经过校对数据有16天延时），在小米商城评论总数：<b>817672</b>，日新增 <b>283</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 558381</p>
<p>（2）红米12 29818</p>
<p>（3）mf3 160584</p>
<p>（4）Note 13 Pro 1516768</p>
<p>（5）Note 13 920690</p>
<p>（6）小米14 2365097</p>
<p>（7）小米14 Pro 1007501</p>
<p>（8）小米14 Ultra 316845</p>
<p>（9）K70 1456899</p>
<p>（10）K70P 375722</p>
<p>（11）K70E 484704</p>
<p>（12）CiVi4 395204</p>
<p>（13）Redmi Turbo 3 817672</p>
<p>（14）Xiaomi MIX Fold 4 86815</p>
<p>（15）Xiaomi MIX Flip 173780</p>
<p>（16）Redmi Note 14 Pro+ 685511</p>
<p>（17）Redmi Note 14 Pro 456773</p>
<p>（18）Redmi Note 14 5G 172596</p>
<p>（19）Redmi K70 至尊版 821031</p>
<p>（20）Xiaomi 15 717225</p>
<p>（21）Xiaomi 15 Pro 419000</p>
<p>（22）Xiaomi 15 定制版 26432</p>
<p>（23）REDMI K80 399550</p>
<p>（24）REDMI K80 Pro 122062</p>
<p>（25）REDMI Turbo 4 7649</p>
<p>（26）Redmi 14C 823</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>