<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/09</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 55 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1127481</b>，日新增 <b>6833</b></p>
<p></p>
<p>小米14系列总销量为 <b>3686113</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 27 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>482026</b>，日新增 <b>7346</b></p>
<p></p>
<p>红米 K70 系列 <b>2652694</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 155 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>172175</b>，日新增 <b>358</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 90 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1105486</b>，日新增 <b>6310</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2020679 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 90 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>161755</b>，日新增 <b>1982</b></p>
<p>--作为参考，Note 13基础版销量 <b>172175 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 254 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>816560</b>，日新增 <b>251</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 557784</p>
<p>（2）红米12 29779</p>
<p>（3）mf3 160284</p>
<p>（4）Note 13 Pro 1515521</p>
<p>（5）Note 13 919063</p>
<p>（6）小米14 2362309</p>
<p>（7）小米14 Pro 1007398</p>
<p>（8）小米14 Ultra 316406</p>
<p>（9）K70 1456498</p>
<p>（10）K70P 375673</p>
<p>（11）K70E 484670</p>
<p>（12）CiVi4 392348</p>
<p>（13）Redmi Turbo 3 816560</p>
<p>（14）Xiaomi MIX Fold 4 85765</p>
<p>（15）Xiaomi MIX Flip 172175</p>
<p>（16）Redmi Note 14 Pro+ 665358</p>
<p>（17）Redmi Note 14 Pro 440128</p>
<p>（18）Redmi Note 14 5G 161755</p>
<p>（19）Redmi K70 至尊版 820523</p>
<p>（20）Xiaomi 15 695165</p>
<p>（21）Xiaomi 15 Pro 406312</p>
<p>（22）Xiaomi 15 定制版 26004</p>
<p>（23）REDMI K80 365906</p>
<p>（24）REDMI K80 Pro 116120</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>