<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/08</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 54 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1122114</b>，日新增 <b>7671</b></p>
<p></p>
<p>小米14系列总销量为 <b>3685633</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 26 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>476818</b>，日新增 <b>9279</b></p>
<p></p>
<p>红米 K70 系列 <b>2652545</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 154 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>171880</b>，日新增 <b>351</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 89 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1100785</b>，日新增 <b>7063</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2020544 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 89 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>160289</b>，日新增 <b>2105</b></p>
<p>--作为参考，Note 13基础版销量 <b>171880 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 253 天（购买日期大概2024/12/23 附近，经过校对数据有16天延时），在小米商城评论总数：<b>816412</b>，日新增 <b>316</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 557698</p>
<p>（2）红米12 29767</p>
<p>（3）mf3 160244</p>
<p>（4）Note 13 Pro 1515386</p>
<p>（5）Note 13 918908</p>
<p>（6）小米14 2361905</p>
<p>（7）小米14 Pro 1007383</p>
<p>（8）小米14 Ultra 316345</p>
<p>（9）K70 1456423</p>
<p>（10）K70P 375665</p>
<p>（11）K70E 484664</p>
<p>（12）CiVi4 391954</p>
<p>（13）Redmi Turbo 3 816412</p>
<p>（14）Xiaomi MIX Fold 4 85606</p>
<p>（15）Xiaomi MIX Flip 171880</p>
<p>（16）Redmi Note 14 Pro+ 662676</p>
<p>（17）Redmi Note 14 Pro 438109</p>
<p>（18）Redmi Note 14 5G 160289</p>
<p>（19）Redmi K70 至尊版 820457</p>
<p>（20）Xiaomi 15 691780</p>
<p>（21）Xiaomi 15 Pro 404378</p>
<p>（22）Xiaomi 15 定制版 25956</p>
<p>（23）REDMI K80 361437</p>
<p>（24）REDMI K80 Pro 115381</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>