<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/04/13</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 149 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2382557</b>，日新增 <b>10903</b></p>
<p></p>
<p>小米14系列总销量为 <b>3783298</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 121 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1513718</b>，日新增 <b>6660</b></p>
<p></p>
<p>红米 K70 系列 <b>2679656</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 249 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>207662</b>，日新增 <b>254</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 184 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1991383</b>，日新增 <b>5877</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2037197 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 184 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>417583</b>，日新增 <b>1766</b></p>
<p>--作为参考，Note 13基础版销量 <b>207662 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 86 天（购买日期大概2025/03/28 附近，经过校对数据有16天延时），在小米商城评论总数：<b>596151</b>，日新增 <b>2597</b></p>
<p>--作为参考，上代系列销量<b>830601</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 562597</p>
<p>（2）红米12 30232</p>
<p>（3）mf3 163713</p>
<p>（4）Note 13 Pro 1532039</p>
<p>（5）Note 13 943887</p>
<p>（6）小米14 2438583</p>
<p>（7）小米14 Pro 1009093</p>
<p>（8）小米14 Ultra 335622</p>
<p>（9）K70 1462959</p>
<p>（10）K70P 376746</p>
<p>（11）K70E 485406</p>
<p>（12）CiVi4 513516</p>
<p>（13）Redmi Turbo 3 830601</p>
<p>（14）Xiaomi MIX Fold 4 104875</p>
<p>（15）Xiaomi MIX Flip 207662</p>
<p>（16）Redmi Note 14 Pro+ 1076977</p>
<p>（17）Redmi Note 14 Pro 914406</p>
<p>（18）Redmi Note 14 5G 417583</p>
<p>（19）Redmi K70 至尊版 839951</p>
<p>（20）Xiaomi 15 1395946</p>
<p>（21）Xiaomi 15 Pro 736162</p>
<p>（22）Xiaomi 15 定制版 33017</p>
<p>（23）REDMI K80 1230675</p>
<p>（24）REDMI K80 Pro 283043</p>
<p>（25）REDMI Turbo 4 596151</p>
<p>（26）Redmi 14C 126571</p>
<p>（27）Xiaomi 15 Ultra 217432</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>