<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/09</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 55 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1127370</b>，日新增 <b>6722</b></p>
<p></p>
<p>小米14系列总销量为 <b>3686102</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 27 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>481876</b>，日新增 <b>7196</b></p>
<p></p>
<p>红米 K70 系列 <b>2652676</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 155 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>172171</b>，日新增 <b>354</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 90 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1105360</b>，日新增 <b>6184</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2020654 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 90 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>161725</b>，日新增 <b>1952</b></p>
<p>--作为参考，Note 13基础版销量 <b>172171 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 254 天（购买日期大概2024/12/24 附近，经过校对数据有16天延时），在小米商城评论总数：<b>816541</b>，日新增 <b>232</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 557774</p>
<p>（2）红米12 29778</p>
<p>（3）mf3 160284</p>
<p>（4）Note 13 Pro 1515496</p>
<p>（5）Note 13 919043</p>
<p>（6）小米14 2362302</p>
<p>（7）小米14 Pro 1007398</p>
<p>（8）小米14 Ultra 316402</p>
<p>（9）K70 1456490</p>
<p>（10）K70P 375672</p>
<p>（11）K70E 484670</p>
<p>（12）CiVi4 392346</p>
<p>（13）Redmi Turbo 3 816541</p>
<p>（14）Xiaomi MIX Fold 4 85761</p>
<p>（15）Xiaomi MIX Flip 172171</p>
<p>（16）Redmi Note 14 Pro+ 665298</p>
<p>（17）Redmi Note 14 Pro 440062</p>
<p>（18）Redmi Note 14 5G 161725</p>
<p>（19）Redmi K70 至尊版 820514</p>
<p>（20）Xiaomi 15 695115</p>
<p>（21）Xiaomi 15 Pro 406266</p>
<p>（22）Xiaomi 15 定制版 25989</p>
<p>（23）REDMI K80 365795</p>
<p>（24）REDMI K80 Pro 116081</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>