<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/03/26</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 131 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2172760</b>，日新增 <b>11775</b></p>
<p></p>
<p>小米14系列总销量为 <b>3773356</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 103 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1383629</b>，日新增 <b>6892</b></p>
<p></p>
<p>红米 K70 系列 <b>2675777</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 231 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>202904</b>，日新增 <b>225</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 166 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1877808</b>，日新增 <b>6009</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2037197 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 166 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>384849</b>，日新增 <b>1680</b></p>
<p>--作为参考，Note 13基础版销量 <b>202904 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 68 天（购买日期大概2025/03/10 附近，经过校对数据有16天延时），在小米商城评论总数：<b>542717</b>，日新增 <b>2957</b></p>
<p>--作为参考，上代系列销量<b>828924</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 562519</p>
<p>（2）红米12 30170</p>
<p>（3）mf3 163587</p>
<p>（4）Note 13 Pro 1532039</p>
<p>（5）Note 13 943887</p>
<p>（6）小米14 2431560</p>
<p>（7）小米14 Pro 1008626</p>
<p>（8）小米14 Ultra 333170</p>
<p>（9）K70 1461979</p>
<p>（10）K70P 376634</p>
<p>（11）K70E 485345</p>
<p>（12）CiVi4 493954</p>
<p>（13）Redmi Turbo 3 828924</p>
<p>（14）Xiaomi MIX Fold 4 102367</p>
<p>（15）Xiaomi MIX Flip 202904</p>
<p>（16）Redmi Note 14 Pro+ 1018337</p>
<p>（17）Redmi Note 14 Pro 859471</p>
<p>（18）Redmi Note 14 5G 384849</p>
<p>（19）Redmi K70 至尊版 837164</p>
<p>（20）Xiaomi 15 1297430</p>
<p>（21）Xiaomi 15 Pro 694643</p>
<p>（22）Xiaomi 15 定制版 32338</p>
<p>（23）REDMI K80 1122157</p>
<p>（24）REDMI K80 Pro 261472</p>
<p>（25）REDMI Turbo 4 542717</p>
<p>（26）Redmi 14C 110686</p>
<p>（27）Xiaomi 15 Ultra 148349</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>