<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/01/21</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 67 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1213250</b>，日新增 <b>6593</b></p>
<p></p>
<p>小米14系列总销量为 <b>3694565</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 39 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>573132</b>，日新增 <b>5434</b></p>
<p></p>
<p>红米 K70 系列 <b>2655204</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 167 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>176417</b>，日新增 <b>321</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 102 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1196514</b>，日新增 <b>6182</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2023826 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 102 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>188825</b>，日新增 <b>2252</b></p>
<p>--作为参考，Note 13基础版销量 <b>176417 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 3确认收货的第 266 天（购买日期大概2025/01/05 附近，经过校对数据有16天延时），在小米商城评论总数：<b>819393</b>，日新增 <b>191</b></p>
<p>--作为参考，上代系列销量<b>1265875</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 559096</p>
<p>（2）红米12 29866</p>
<p>（3）mf3 160984</p>
<p>（4）Note 13 Pro 1518668</p>
<p>（5）Note 13 923191</p>
<p>（6）小米14 2369051</p>
<p>（7）小米14 Pro 1007651</p>
<p>（8）小米14 Ultra 317863</p>
<p>（9）K70 1457509</p>
<p>（10）K70P 375832</p>
<p>（11）K70E 484798</p>
<p>（12）CiVi4 401265</p>
<p>（13）Redmi Turbo 3 819393</p>
<p>（14）Xiaomi MIX Fold 4 88473</p>
<p>（15）Xiaomi MIX Flip 176417</p>
<p>（16）Redmi Note 14 Pro+ 709683</p>
<p>（17）Redmi Note 14 Pro 486831</p>
<p>（18）Redmi Note 14 5G 188825</p>
<p>（19）Redmi K70 至尊版 821863</p>
<p>（20）Xiaomi 15 748764</p>
<p>（21）Xiaomi 15 Pro 437261</p>
<p>（22）Xiaomi 15 定制版 27225</p>
<p>（23）REDMI K80 442403</p>
<p>（24）REDMI K80 Pro 130729</p>
<p>（25）REDMI Turbo 4 52027</p>
<p>（26）Redmi 14C 13603</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>