<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/03/20</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 125 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2079166</b>，日新增 <b>34118</b></p>
<p></p>
<p>小米14系列总销量为 <b>3768920</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 97 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1335886</b>，日新增 <b>9494</b></p>
<p></p>
<p>红米 K70 系列 <b>2674473</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 225 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>201061</b>，日新增 <b>349</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 160 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1837227</b>，日新增 <b>8559</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2036895 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 160 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>373791</b>，日新增 <b>2426</b></p>
<p>--作为参考，Note 13基础版销量 <b>201061 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 62 天（购买日期大概2025/03/04 附近，经过校对数据有16天延时），在小米商城评论总数：<b>521814</b>，日新增 <b>4077</b></p>
<p>--作为参考，上代系列销量<b>828454</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 562462</p>
<p>（2）红米12 30160</p>
<p>（3）mf3 163497</p>
<p>（4）Note 13 Pro 1531737</p>
<p>（5）Note 13 943463</p>
<p>（6）小米14 2428418</p>
<p>（7）小米14 Pro 1008554</p>
<p>（8）小米14 Ultra 331948</p>
<p>（9）K70 1461746</p>
<p>（10）K70P 376567</p>
<p>（11）K70E 485330</p>
<p>（12）CiVi4 486714</p>
<p>（13）Redmi Turbo 3 828454</p>
<p>（14）Xiaomi MIX Fold 4 101496</p>
<p>（15）Xiaomi MIX Flip 201061</p>
<p>（16）Redmi Note 14 Pro+ 997796</p>
<p>（17）Redmi Note 14 Pro 839431</p>
<p>（18）Redmi Note 14 5G 373791</p>
<p>（19）Redmi K70 至尊版 836160</p>
<p>（20）Xiaomi 15 1261378</p>
<p>（21）Xiaomi 15 Pro 678857</p>
<p>（22）Xiaomi 15 定制版 31996</p>
<p>（23）REDMI K80 1082185</p>
<p>（24）REDMI K80 Pro 253701</p>
<p>（25）REDMI Turbo 4 521814</p>
<p>（26）Redmi 14C 104331</p>
<p>（27）Xiaomi 15 Ultra 106935</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>