<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/06/01</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 198 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2931484</b>，日新增 <b>16114</b></p>
<p></p>
<p>小米14系列总销量为 <b>3810261</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 170 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1759743</b>，日新增 <b>8572</b></p>
<p></p>
<p>红米 K70 系列 <b>2686237</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 298 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>218171</b>，日新增 <b>269</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 233 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2260994</b>，日新增 <b>6623</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2037197 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 233 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>502753</b>，日新增 <b>2409</b></p>
<p>--作为参考，Note 13基础版销量 <b>218171 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 135 天（购买日期大概2025/05/16 附近，经过校对数据有16天延时），在小米商城评论总数：<b>680880</b>，日新增 <b>1489</b></p>
<p>--作为参考，上代系列销量<b>831309</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 563569</p>
<p>（2）红米12 30517</p>
<p>（3）mf3 163927</p>
<p>（4）Note 13 Pro 1532039</p>
<p>（5）Note 13 943887</p>
<p>（6）小米14 2448479</p>
<p>（7）小米14 Pro 1009504</p>
<p>（8）小米14 Ultra 352278</p>
<p>（9）K70 1464347</p>
<p>（10）K70P 377081</p>
<p>（11）K70E 485479</p>
<p>（12）CiVi4 550282</p>
<p>（13）Redmi Turbo 3 831309</p>
<p>（14）Xiaomi MIX Fold 4 110464</p>
<p>（15）Xiaomi MIX Flip 218171</p>
<p>（16）Redmi Note 14 Pro+ 1209923</p>
<p>（17）Redmi Note 14 Pro 1051071</p>
<p>（18）Redmi Note 14 5G 502753</p>
<p>（19）Redmi K70 至尊版 844809</p>
<p>（20）Xiaomi 15 1724246</p>
<p>（21）Xiaomi 15 Pro 867982</p>
<p>（22）Xiaomi 15 定制版 34238</p>
<p>（23）REDMI K80 1419657</p>
<p>（24）REDMI K80 Pro 340086</p>
<p>（25）REDMI Turbo 4 680880</p>
<p>（26）Redmi 14C 160590</p>
<p>（27）Xiaomi 15 Ultra 298383</p>
<p>（28）Xiaomi Civi 5 Pro 4349</p>
<p>（29）Xiaomi 15S Pro 6635</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>