<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>监控</title></head><body><h1>小米2025年主流机型销量跟踪2025/03/22</h1>
<h2>一、小米 15 系列</h2>
<p> </p>
<p>今天是Xiaomi 15确认收货的第 127 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>2113999</b>，日新增 <b>23927</b></p>
<p></p>
<p>小米14系列总销量为 <b>3770500</b>, 小米13系列总销量为 <b>2297097</b></p>
<h2>二、红米 K80 系列</h2>
<p>今天是K80确认收货的第 99 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1351163</b>，日新增 <b>11430</b></p>
<p></p>
<p>红米 K70 系列 <b>2675020</b>， 红米 K60 系列 <b>2124040</b></p>
<h2>三、Xiaomi MIX Flip</h2>
<p>今天是Xiaomi MIX Flip确认收货的第 227 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>201656</b>，日新增 <b>460</b></p>
<h2>四、Note 14系列</h2>
<p>今天是Note 14 Pro系列确认收货的第 162 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>1850832</b>，日新增 <b>10379</b></p>
<p>--作为参考，Note 13 Pro系列销量 <b>2037240 </b>, Note 12 Pro系列销量135万</p>
<p>今天是Note 14 基础版确认收货的第 162 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>377623</b>，日新增 <b>2983</b></p>
<p>--作为参考，Note 13基础版销量 <b>201656 </b>, Note 12 基础版销量 85万</p>
<h2>五、Note Turbo系列</h2>
<p>今天是Redmi Turbo 4确认收货的第 64 天（购买日期大概2025/03/06 附近，经过校对数据有16天延时），在小米商城评论总数：<b>528321</b>，日新增 <b>4887</b></p>
<p>--作为参考，上代系列销量<b>828695</b>。</p>
<h2>五、单品数据</h2>
<p>（1）civi3 562482</p>
<p>（2）红米12 30165</p>
<p>（3）mf3 163542</p>
<p>（4）Note 13 Pro 1532082</p>
<p>（5）Note 13 943950</p>
<p>（6）小米14 2429521</p>
<p>（7）小米14 Pro 1008589</p>
<p>（8）小米14 Ultra 332390</p>
<p>（9）K70 1461836</p>
<p>（10）K70P 376591</p>
<p>（11）K70E 485336</p>
<p>（12）CiVi4 488907</p>
<p>（13）Redmi Turbo 3 828695</p>
<p>（14）Xiaomi MIX Fold 4 101794</p>
<p>（15）Xiaomi MIX Flip 201656</p>
<p>（16）Redmi Note 14 Pro+ 1004702</p>
<p>（17）Redmi Note 14 Pro 846130</p>
<p>（18）Redmi Note 14 5G 377623</p>
<p>（19）Redmi K70 至尊版 836593</p>
<p>（20）Xiaomi 15 1272742</p>
<p>（21）Xiaomi 15 Pro 683891</p>
<p>（22）Xiaomi 15 定制版 32144</p>
<p>（23）REDMI K80 1094937</p>
<p>（24）REDMI K80 Pro 256226</p>
<p>（25）REDMI Turbo 4 528321</p>
<p>（26）Redmi 14C 106880</p>
<p>（27）Xiaomi 15 Ultra 125222</p>
<p>🔥最后：数据整理不易，如果您觉得有价值，帮忙点个关注呗⭐️⭐️⭐️</p></body></html>